<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="primary" text="Zurück" defaultHrf="/entries"></ion-back-button>
    </ion-buttons>
    <ion-title>Details</ion-title>
    <!-- Action buttons -->
    <div align="right">
      <ion-button color="danger" (click)="delete()">
        <ion-icon name="trash">&nbsp;Löschen</ion-icon>
      </ion-button>
      &nbsp;
      <ion-button color="primary" (click)="save()">
        <ion-icon name="save">&nbsp;Speichern</ion-icon>
      </ion-button>
      &nbsp;
      <ion-button color="secondary" routerLink="map"
        *ngIf="timeEntryService.selectedEntry.latitude != null && timeEntryService.selectedEntry.longitude != 0">
        <ion-icon name="map">&nbsp;Karte</ion-icon>
      </ion-button>
    </div>

  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2">
        <!-- ID (Headline) -->
        <ion-item>
          <ion-label position="stacked" color="primary">ID</ion-label>
          <ion-input disabled="false">{{ timeEntryService.selectedEntry.id }}</ion-input>
        </ion-item>
        <!-- Enter/Go -->
        <ion-item>
          <ion-label position="stacked" color="primary">Kommen/Gehen <ion-icon name="pencil-outline"></ion-icon>
          </ion-label>
          <ion-select [(ngModel)]="timeEntryService.selectedEntry.direction">
            <ion-select-option value="enter">Kommen</ion-select-option>
            <ion-select-option value="go">Gehen</ion-select-option>
          </ion-select>
        </ion-item>
        <!-- Date -->
        <ion-item>
          <ion-label color="primary" position="stacked">Datum <ion-icon name="pencil-outline"></ion-icon>
          </ion-label>
          <ion-datetime displayFormat="DDD, DD MMM YYYY, HH:mm" pickerFormat="HH mm" type="time"
            [(ngModel)]="timeEntryService.selectedEntry.localEntryDate"></ion-datetime>
        </ion-item>
        <!-- Date of last change -->
        <ion-item>
          <ion-label color="primary" position="stacked">Datum der letzten Änderung</ion-label>
          <ion-input disabled="false">{{ timeEntryService.selectedEntry.lastChanged | date: 'EEE, dd MMM yyyy, HH:mm'}}
          </ion-input>
        </ion-item>
        <!-- Geo Location -->
        <ion-item>
          <ion-label color="primary" position="stacked">Geo Location</ion-label>
          <ion-input disabled="false">
            Long: {{ timeEntryService.selectedEntry.longitude | number:'2.1-3'}},
            Lat: {{ timeEntryService.selectedEntry.latitude | number:'2.1-3' }}
            &nbsp;
            <ion-button color="primary" (click)="setGeoLocation()">
              <ion-icon name="earth"></ion-icon>
            </ion-button>
          </ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>