<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Statistiken
    </ion-title>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-text color="primary">{{ date | date: 'dd.MM.yy' }}</ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
  <online-status-component displaySize="small"></online-status-component>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" width="100%">
        Statistiken
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2">
        <!------- Navigation Buttons ------>
        <ion-button (click)="setBefore()">
          <ion-icon name="arrow-back"></ion-icon>
        </ion-button>
        <ion-button (click)="setToday()">
          <ion-icon name="today"></ion-icon>&nbsp;
        </ion-button>
        <ion-button (click)="setAhead()">
          <ion-icon name="arrow-forward"></ion-icon>
        </ion-button>
        <ion-button id="open-date-input-stats">
          <ion-icon name="calendar-number"></ion-icon>
        </ion-button>
        <ion-popover trigger="open-date-input-stats" show-backdrop="true">
          <ng-template>
            <ion-datetime #popoverDatetime presentation="time-date" (ionChange)="date = popoverDatetime.value[0]"
              first-day-of-week="1" [showDefaultButtons]="true">
            </ion-datetime>
          </ng-template>
        </ion-popover>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button color="warning" [routerLink]="['./aggregat']">
          <ion-icon name="barcode"></ion-icon>
        </ion-button>
        <ion-button color="warning" [routerLink]="['./breaktime']">
          <ion-icon name="pause"></ion-icon>
        </ion-button>
        <ion-button color="warning" [routerLink]="['./come-go']">
          <ion-icon name="podium"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-segment [(ngModel)]="timeUnit" color="primary">
          <ion-segment-button (click)="setDate()" value="0">
            Jahr
          </ion-segment-button>
          <ion-segment-button (click)="setDate()" value="1">
            Monat
          </ion-segment-button>
          <ion-segment-button (click)="setDate()" value="2">
            Woche
          </ion-segment-button>
        </ion-segment>
      </ion-col>
    </ion-row>
    <ion-row align-items-stretch>
      <ion-col size="12" size-sm="8" offset-sm="2">
        <ion-card>
          <ion-card-content>
            <canvas height="300px" #lineCanvas></canvas>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>