<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Timetracker
    </ion-title>
  </ion-toolbar>
  <online-status-component displaySize="small"></online-status-component>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Einträge</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-grid padding>
    <ion-row>
      <!----------------------------------------------------------------------------------------->
      <!-- enter and leave buttons                                                             -->
      <!----------------------------------------------------------------------------------------->
      <ion-col size="12" size-sm="8" offset-sm="2">
        <div *ngIf="showEnter===true; else showGo">
          <ion-button class="button button-full" icon-left color="primary" (click)="enter()">
            <ion-icon name="log-in"></ion-icon>&nbsp;Kommen ({{ date | date: 'EEE, dd.MM.yyyy - HH:mm' }}) &nbsp;
            <div *ngIf="timeHasChanged===true; else timeNotChanged">
              <ion-icon name="time"></ion-icon>
            </div>
            <ng-template #timeNotChanged>
              <ion-icon name="time-outline"></ion-icon>
            </ng-template>
          </ion-button>
        </div>
        <ng-template #showGo>
          <ion-button class="button button-full" icon-left color="secondary" (click)="leave()">
            <ion-icon name="log-out"></ion-icon>&nbsp;Gehen ({{ date | date: 'EEE, dd.MM.yyyy - HH:mm' }}) &nbsp;
            <div *ngIf="timeHasChanged===true; else timeNotChanged">
              <ion-icon name="time"></ion-icon>
            </div>
            <ng-template #timeNotChanged>
              <ion-icon name="time-outline"></ion-icon>
            </ng-template>
          </ion-button>
        </ng-template>
      </ion-col>
    </ion-row>
    <ion-row>
      <!----------------------------------------------------------------------------------------->
      <!-- Navigation Buttons                                                                  -->
      <!----------------------------------------------------------------------------------------->
      <ion-col size="12" size-sm="8" offset-sm="2">
        <ion-button (click)="setYesterday()">
          <ion-icon name="arrow-back"></ion-icon>
        </ion-button>
        <ion-button (click)="setToday()">
          <ion-icon name="today"></ion-icon>
        </ion-button>
        <ion-button (click)="setTomorrow()">
          <ion-icon name="arrow-forward"></ion-icon>
        </ion-button>
        <ion-button color="warning" outline disabled={{hasNoFailedDates}} [routerLink]="['./fails']">
          <ion-icon name="hammer"></ion-icon>
        </ion-button>
        <ion-button id="open-date-input-entries">
          <ion-icon name="calendar-number"></ion-icon>
        </ion-button>
        <ion-popover trigger="open-date-input-entries" show-backdrop="true">
          <ng-template>
            <ion-datetime #popoverDatetime presentation="time-date" (ionChange)="date=popoverDatetime.value.toString()"
              first-day-of-week="1" [showDefaultButtons]="true">
            </ion-datetime>
          </ng-template>
        </ion-popover>
      </ion-col>
    </ion-row>
    <hr />
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-label>von</ion-label>
                <ion-input (keyup)="addEnterGo($event)" type="time" [(ngModel)]="enterTime"></ion-input>
              </ion-col>
              <ion-col>
                <ion-label>bis</ion-label>
                <ion-input (keyup)="addEnterGo($event)" type="time" [(ngModel)]="goTime"></ion-input>
              </ion-col>
              <ion-col>
                <ion-button (click)="addEnterGo()">
                  <ion-icon name="checkmark"></ion-icon>
                </ion-button>
                <ion-button (click)="resetEnterGo()">
                  <ion-icon name="refresh"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-col>
    </ion-row>
    <!----------------------------------------------------------------------------------------->
    <!-- Lower part with time entries                                                        -->
    <!----------------------------------------------------------------------------------------->
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2">
        <!-- statistic for selected day -->
        <ion-item>
          <ion-label class="info-line" color="warning">
            Gesamt {{ timeEntryService.entryStats.totalWorkload }} |
            Arbeit {{ timeEntryService.entryStats.workingTime }} |
            Pause {{ timeEntryService.entryStats.pause }} |
            <ion-progress-bar [value]="timeEntryService.entryStats.workDone" color="primary"></ion-progress-bar>
          </ion-label>
        </ion-item>
        <!-- list of entries of given date (see date picker) -->
        <ion-list>
          <ion-item *ngFor="let tupel of timeEntryService.entriesTuplesByDate">
            <ion-icon [routerLink]="['./entries', tupel.one.id]" size="large" name="{{ tupel.one.ion_direction_icon }}"
              color="{{ tupel.one.ion_color }}"></ion-icon>
            &nbsp;
            <!-- Time and mode (enter/go)-->
            <ion-label [routerLink]="['./entries', tupel.one.id]" lot="end">
              {{ tupel.one.entryDate | date: 'HH:mm' }} Uhr
            </ion-label>
            <ion-icon [routerLink]="['./entries', tupel.two.id]" size="large" name="{{ tupel.two.ion_direction_icon }}"
              color="{{ tupel.two.ion_color }}"></ion-icon>
            &nbsp;
            <!-- Time and mode (enter/go)-->
            <ion-label [routerLink]="['./entries', tupel.two.id]" lot="end">
              {{ tupel.two.entryDate | date: 'HH:mm' }} Uhr
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>