<ion-header>
  <ion-toolbar>
    <ion-title>Kommen & Gehen</ion-title>
    <ion-buttons slot="start">
      <ion-back-button color="primary" text="Zurück" defaultHrf="/entries"></ion-back-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2">
        <ion-item>
          <ion-range min="1" max="60" step="1" snaps="false" pin="true" color="primary" debounce="500"
            [(ngModel)]="interval">
          </ion-range>
          <ion-button slot="end" (click)="showDirectionDialog()">Direction</ion-button>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2">
        <ion-card>
          <ion-card-content>
            <canvas height="400px" #graphCanvas></canvas>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>