<ion-header>
  <ion-toolbar>
    <ion-title>Benutzer</ion-title>
    <ion-buttons slot="start">
      <ion-back-button color="primary" text="Zurück" defaultHrf="/admin"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-row>
    <ion-col size="12" size-sm="8" offset-sm="2">
      <!-- ID (Headline) -->
      <ion-item>
        <ion-label position="stacked" color="primary">ID</ion-label>
        <ion-input disabled="true">{{ user.id }}</ion-input>
      </ion-item>
      <!-- Name -->
      <ion-item>
        <ion-label position="stacked" color="primary">Name <ion-icon name="pencil-outline"></ion-icon></ion-label>
        <ion-input disabled="false" [(ngModel)]="user.name"></ion-input>
      </ion-item>
      <!-- Username -->
      <ion-item>
        <ion-label position="stacked" color="primary">Username <ion-icon name="pencil-outline"></ion-icon></ion-label>
        <ion-input type="username" disabled="true" [(ngModel)]="user.username"></ion-input>
      </ion-item>
      <!-- Mail Address -->
      <ion-item>
        <ion-label position="stacked" color="primary">Mail Adresse <ion-icon name="pencil-outline"></ion-icon></ion-label>
        <ion-input type="username" disabled="false" [(ngModel)]="user.mailAddress"></ion-input>
      </ion-item>
      <!-- Password -->
      <ion-item>
        <ion-label position="stacked" color="primary">Passwort <ion-icon name="pencil-outline"></ion-icon></ion-label>
        <ion-input type="password" placeholder="Password" clearInput disabled="false" [(ngModel)]="user.password" (change)="passwordHasChanged=true"></ion-input>
      </ion-item>
      <!-- Action buttons -->
      <div align="center">
        <ion-button color="danger" (click)="delete()">
          <ion-icon name="trash">&nbsp;Löschen</ion-icon>
        </ion-button>
        &nbsp;
        <ion-button color="primary" (click)="save()">
          <ion-icon name="save">&nbsp;Speichern</ion-icon>
        </ion-button>
      </div>
    </ion-col>
  </ion-row>
</ion-content>