<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Landkarten
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Landkarten</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2">
        <!------- Navigation Buttons ------>
        <ion-button (click)="setBefore()">
          <ion-icon name="arrow-back"></ion-icon>
        </ion-button>
        <ion-button (click)="setToday()">
          <ion-icon name="calendar"></ion-icon>&nbsp;
        </ion-button>
        <ion-button (click)="setAhead()">
          <ion-icon name="arrow-forward"></ion-icon>
        </ion-button>
        <ion-button color="light">
          <ion-datetime size="large" displayFormat="DD.MM.YYYY" pickerFormat="DDD MMM YYYY" [(ngModel)]="date">
          </ion-datetime>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-segment [(ngModel)]="timeUnit" color="primary">
          <!--ion-segment-button (click)="setToday()" value="0">
            Jahr
          </ion-segment-button-->
          <ion-segment-button (click)="setToday()" value="1">
            Monat
          </ion-segment-button>
          <ion-segment-button (click)="setToday()" value="2">
            Woche
          </ion-segment-button>
          <ion-segment-button (click)="setToday()" value="3">
            Tag
          </ion-segment-button>
        </ion-segment>

      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- the MAP -->
  <div #map id="map" style="height:80%;"></div>
</ion-content>