<ion-header>
  <ion-toolbar>
    <ion-title>Geofence</ion-title>
    <ion-buttons slot="start">
      <ion-back-button color="primary" text="Zurück" defaultHrf="/admin"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-row>
    <ion-col size="12" size-sm="8" offset-sm="2">
      <!-- list of geofences-->
      <ion-list>
        <ion-item *ngFor="let geoFence of geoFences" [routerLink]="['.', geoFence.id]">
          <ion-icon name="navigate-circle-outline"></ion-icon>&nbsp;

          <ion-label>
            {{ geoFence.description }}
          </ion-label>

          <!-- checked in status -->
          <div *ngIf="geoFence.isCheckedIn === true; else offlineTemplate">
            <ion-icon color="success" name="checkmark-circle-outline" size="large"></ion-icon>
          </div>
          <ng-template #offlineTemplate>
            <ion-icon color="danger" name="alert-circle-outline" size="large"></ion-icon>
          </ng-template>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-content>