<ion-header>
  <ion-toolbar>
    <ion-title>Geofence</ion-title>
    <ion-buttons slot="start">
      <ion-back-button color="primary" text="Zurück" defaultHrf="/admin"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label position="stacked" color="primary">Name </ion-label>
        <ion-input disabled="false" [(ngModel)]="geoFence.description"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-item>
        <ion-label position="stacked" color="primary">ist aktiv?</ion-label>
        <ion-toggle [(ngModel)]="geoFence.enabled"></ion-toggle>
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-item>
        <ion-label position="stacked" color="primary">eingecheckt?</ion-label>
        <ion-toggle [(ngModel)]="geoFence.isCheckedIn"></ion-toggle>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label position="stacked" color="primary">Longitude</ion-label>
        <ion-input disabled="false" [(ngModel)]="geoFence.longitude"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-item>
        <ion-label position="stacked" color="primary">Latitude</ion-label>
        <ion-input disabled="false" [(ngModel)]="geoFence.latitude"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-item>
        <ion-label position="stacked" color="primary">Radius [m]</ion-label>
        <ion-input disabled="false" [(ngModel)]="geoFence.radius"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>

  <div align="center">
    <ion-button color="danger" (click)="delete()">
      <ion-icon name="trash">&nbsp;Löschen</ion-icon>
    </ion-button>
    &nbsp;
    <ion-button color="primary" (click)="save()">
      <ion-icon name="save">&nbsp;Speichern</ion-icon>
    </ion-button>
  </div>

  <div #map id="map-geofence" style="height:80%;"></div>
</ion-content>