<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="primary" text="Zurück" defaultHrf="/about"></ion-back-button>
    </ion-buttons>
    <ion-title>Log & Trace - Detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>TIME: {{ logEntry.timestamp | date: 'HH:mm:ss' }} ({{ logEntry.id }})</ion-card-subtitle>
            <ion-card-title>{{ logEntry.topic }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            {{ logEntry.text }}
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>